.hidden {
    display: none !important;
}

.tags-cont {
    max-height: 150px;
    overflow-y: scroll;
}

.q-class-close {
    float: right;
    font-size: 1.2em;
    color: white;
    font-weight: 900;
    border-radius: 25%;
}

.q-class-close:hover {
    cursor: pointer;
}

.q-class-add {
    font-size: 2.5em;
    color: white !important;
    border-radius: 50%;
    height: 1.5em;
    width: 1.5em;
    display: inline-block;
    text-align: center;
    padding: 0;
    vertical-align: middle !important;
}

.q-class-add:hover {
    cursor: pointer;
}

.bg-secondary-2 {
    background-color: #d4d4d485 !important;
  }

.w-9 {
    width: 9% !important;
}

.selected-question-tab {
    background-color: rgb(56, 193, 114);
    color: white !important;
}

.question-tab {
    /* background-color: rgb(104, 180, 241); */
    background-color: rgb(94, 182, 255);
    color: white;
}

.question-tab:hover {
    background-color: rgb(137, 202, 255);
}

.sidenav {
    width: 24% !important;
    position: fixed;
    /* z-index: 1; */
    /* top: 20px;
    left: 10px; */
    /* background: #eee;
    overflow-x: hidden;
    padding: 8px 0; */
}

.card-rounded {
    border-radius: 25px !important;
}

.card-rounded-top {
    border-radius: 25px 25px 0 0 !important;
}

.card-header {
    background-color: #343a40 !important;
    border-radius: calc(1rem - 1px) calc(1rem - 1px) 0 0 !important;
    color: white;
}

.card {
    border-radius: 1rem;
}

.btn {
    border-radius: 1.25rem !important;
    font-size: 0.9em !important;
}

body {
    font-family: "Montserrat", "Nunito", sans-serif !important;
    font-size: 0.8em !important;
}

.tooltip {
    font-family: "Montserrat", "Nunito", sans-serif !important;
}

.popover {
    font-family: "Montserrat", "Nunito", sans-serif !important;
}

:root {
    --font-family-sans-serif: "Montserrat", "Nunito", sans-serif;
}

.modal-content {
    background-color: #f8fafc;
}

.body-bg {
    background-color: #f8fafc !important;
}